body {
  padding: 0;
  margin: 0;
}

.col1 {
  color: #fff;
  float: left;
  background: red;
  width: 50%;
  height: 100vh;
}

.col2 {
  float: left;
  background: green;
  width: 50%;
  height: 100vh;
  overflow: auto;
}
